<p>Email: <a href="mailto:{{config.contact.email}}?subject=Support Inquiry">{{config.contact.email}}</a></p>
<p><span class="en">Tweet to us: </span><span class="zh hidden">发送推特给我们：</span><a href="{{config.contact.twitterLink}}" target="_blank"><span class="en">Twitter</span><span class="zh hidden">推特</span></a></p>
<p><span class="en">Post in the Steam Group: </span><span class="zh hidden">在Steam小组里发表：</span><a href="{{config.contact.steamLink}}" target="_blank">Steam</a></p>
<p>Join the Discord Server: <a href="{{config.contact.discordLink}}" target="_blank">Discord</a></p>
<p><span class="en">Feel free to post any questions in chat, you'll probably get a faster reply there.</span><span class="zh hidden">在下方的聊天框发表自己的意见和观点，我们会以最快速度回复你的消息！</span></p>