<div class="en">
<h5>How do I get started?</h5>
<p>Getting started is easy, all you need is some TF2 or VGO keys. When you're ready, entered your desired sell amount on the 'sell' section on the left hand side, and click on the sell button.</p>
<p>Please check all trade offers before accepting them, and make sure the values on the offer's message are correct.</p>
<p>After accepting, your account balance will be credited within 20 seconds. You can now use your balance to purchase TF2 or VGO keys. Use the OPSkins cashout feature to cashout your remaining balance!</p>
<h5>Can I use a custom OPSkins account?</h5>
<p>Yes you can! You may edit your SteamID for OPSkins trades on your settings page.</p>
</div>
<div class="zh hidden">
	<h5>我该怎么开始呢？</h5>
	<p>从简单的起点开始，你需要的是一些TF2或者VGO钥匙.当你准备好了，进入你想卖出数量，选择左手边点击卖出键。</p>
	<p>在你接受之前，请检查所有交易申请，确保申请信息上的数量是正确的。</p>
	<p>接受之后，你的帐号金额会在20秒之后出现。你可以使用你账户里的金额去买TF2 或者VGO钥匙。使用OPSkins cashout去收回可使用的剩余金额！</p>
	<h5>我可以使用不同的金额但是一样的OPSkins账号吗？</h5>
	<p>当然可以！你需要在设置部分编辑你的你在OPSkins 交易的SteamID。</p>
</div>