<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text"><img style="height: 100px;" src="/public/img/vgoswaplogo.svg"></h5>
				<div class="row">
					<div class="col l4">
						<h5 class="white-text"><span class="en">Support</span><span class="zh hidden">帮助</span></h5>
						<ul>
							<li><a class="grey-text text-lighten-3 contact"><span class="en">Contact</span><span class="zh hidden">联系</span></a></li>
							<li><a class="grey-text text-lighten-3 faq"><span class="en">FAQ</span><span class="zh hidden">常见问题</span></a></li>
						</ul>
					</div>
					<div class="col l4">
						<h5 class="white-text"><span class="en">About</span><span class="zh hidden">关于我们</span></h5>
						<ul>
							<li><a class="grey-text text-lighten-3 terms"><span class="en">Terms of Service</span><span class="zh hidden">服务条款</span></a></li>
							<li><a class="grey-text text-lighten-3 privacy"><span class="en">Privacy Policy</span><span class="zh hidden">隐私政策</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text"><span class="en">Social</span><span class="zh hidden">社交链接</span></h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="{{config.contact.twitterLink}}" target="_blank"><i class="fab fa-twitter"></i> <span class="en">Twitter</span><span class="zh hidden">推特</span></a></li>
					<li><a class="grey-text text-lighten-3" href="{{config.contact.steamLink}}" target="_blank"><i class="fab fa-steam"></i> Steam</a></li>
					<li><a class="grey-text text-lighten-3" href="{{config.contact.discordLink}}" target="_blank"><i class="fab fa-discord"></i> Discord</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
		© 2018 {{config.siteName}}
		<div class="grey-text text-lighten-4 right">Made with ❤️ by <a class="grey-text text-lighten-4" href="https://steamcommunity.com/id/almatrass" target="_blank">Almatrass</a></div>
		</div>
	</div>
</footer>