<div class="center-align">
	<img class="modalOpskinsLogo" src="/public/img/opskinslogo.png">
</div>
<div class="row">
	<div class="input-field col l2 m4 s6 offset-l5 offset-m4 offset-s3">
		<input placeholder="Amount" id="opskinsAmountInput" type="text" class="validate">
		<label for="opskinsAmountInput"><span class="en">Amount in USD</span><span class="zh hidden">价值 （USD）</span></label>
	</div>
	<div class="col s12 center-align">
		<a class="btn blue accent-2" id="opskinsWithdraw"><span class="en">Withdraw</span><span class="zh hidden">收回</span></a>
	</div>
</div>
