<div class="container">
	<div class="row">
		<div class="col l12 m12 s12">
			<div class="row">
				<div class="col s10 offset-s1 center-align buySellTitle">
					<div class="en">USE REMAINING BALANCE</div> 
					<div class="zh hidden">可使用剩余金额</div> 
					<div><i class="fas fa-chevron-down" style="font-size: 30px;"></i></div>
					<a class="btn btn-large white black-text" id="openOpskinsWithdraw"><img class="left opskinsSvg" src="/public/img/opskinslogo.svg">OPSkins</a>
				</div>
			</div>
		</div>
	</div>
</div>