<ul class="collapsible">
	<li>
		<div class="collapsible-header">Cookies</div>
		<div class="collapsible-body">
			<p><span class="en">This site uses cookies in order to identify your computer. Simply speaking, it allows us to associate requests from your computer with the relevant user account.</span><span class="zh hidden">该网站使用Cookies来标识您的计算机。简单地说，它允许我们将计算机上的请求与相关用户帐户关联起来。</span></p>
			<p><span class="en">Cookies also provide useful functionality, such as remembering user preferences from previous browsing sessions.</span><span class="zh hidden">Cookies还提供有用的功能，例如从以前的浏览会话中记住用户偏好。</span></p>
			<p><span class="en">By using this site, you are agreeing with our use of cookies outlined above. Cookies may be cleared or blocked at any time, however the functionality of this site will be severely limited if you choose to block cookies.</span><span class="zh hidden">通过使用这个网站，您同意我们使用上面概述的Cookie。Cookie可以在任何时候被清除或阻止，但是如果您选择阻止Cookie，那么这个站点的功能将受到严重限制。</span></p>
		</div>
	</li>
	<li>
		<div class="collapsible-header"><span class="en">Data Collection</span><span class="zh hidden">数据采集</span></div>
		<div class="collapsible-body">
			<p><span class="en">When you use Steam sign in to access our services, you agree to share basic account information with us. The purpose of this is so that this information can be easily accessed at a later date, without us having to make requests to external servers.</span><span class="zh hidden">当您使用Steam登录我们的服务时，您同意与我们共享基本帐户信息。这样做的目的是你可以在不需要我们向外部服务器发出请求的情况下，更容易地浏览这些信息。</span></p>
			<p><span class="en">When you sign in, we collect the following information:</span><span class="zh hidden">当您登录时，我们收集以下信息：</span></p>
			<ul>
				<li><span class="en">Your Public Steam64ID</span><span class="zh hidden">您的公共Steam64ID</span></li>
        <li><span class="en">Your Public Display Name</span><span class="zh hidden">您的公开显示名字</span></li>
        <li><span class="en">Your Public Avatar</span><span class="zh hidden">你的公众化身</span></li>
			</ul>
			
			<p><span class="en">We do not collect passwords or any other sensitive information.</span><span class="zh hidden">我们不收集密码或任何其他敏感信息。</span></p>
		</div>
	</li>
</ul>