<p><span class="en">By accessing our services on this site, you are agreeing to the Terms and Conditions laid out here. You also agree to comply with all applicable laws and regulations, and you are responsible for compliance with any local laws. This site is protected by applicable copyright law.</span><span class="zh hidden">通过访问我们网站上的服务，您同意这里规定的条款和条件。你也同意遵守所有适用的法律和法规，并且你负责遵守当地的法律。此网站受适用著作权法保护。</span></p>
<h5><span class="en">Acceptable Use</span><span class="zh hidden">可接受使用</span></h5>
<p><span class="en">You may not use this site for the following:</span><span class="zh hidden">您不得使用以下网站：</span></p>
<ul>
	<li><span class="en">To distribute unlawful materials.</span><span class="zh hidden">分发非法材料。</span></li>
  <li><span class="en">To violate our intellectual property rights.</span><span class="zh hidden">侵犯我们的知识产权。</span></li>
  <li><span class="en">To promote/advertise without permission.</span><span class="zh hidden">未经允许进行宣传/广告。</span></li>
</ul>
<h5><span class="en">Restricted access</span><span class="zh hidden">限制访问</span></h5>
<p><span class="en">You must be over the age of 13 to use our services.</span><span class="zh hidden">你必须超过13岁才能使用我们的服务。</span></p>
<h5><span class="en">Currency</span><span class="zh hidden">货币</span></h5>
<p><span class="en">Currency values on the site are represented in Dollars. This does not indicate any real world money value, and these on-site amounts cannot under any circumstances be given in exchange for real world money.</span><span class="zh hidden">站点上的货币值用美元表示。这并不表示任何真实世界的货币价值，并且这些现场金额在任何情况下都不能作为真实世界货币的交换给出。</span></p>
<h5><span class="en">Refunds</span><span class="zh hidden">退款</span></h5>
<p><span class="en">Users may receive refunds if this site has made an error, or if our trade bots have made an error. Any other circumstances, such as a Steam error or an error made by you are not eligible for a refund.</span><span class="zh hidden">如果网站犯了错误，或者我们的交易机器人犯了错误，用户可能会收到退款。任何其他情况，比如Steam错误或由你犯的错误都没有资格退款。</span></p>